<div class="jumbo">
    <div class="littlebox">
      <h2>Purveyors of Mid-Century Furniture</h2>
      <h3>Merchants of Cool</h3>
    <p><a class="btn btn-primary btn-lg" href="/furniture" role="button">Checkout our products</a></p>
    </div>
</div>
