<div class="jumbo">
    <div class="littlebox">
      <h2>Your Furniture is Old. </h2>
      <h3>Ours is Older.</h3>
    <p><a class="btn btn-primary btn-lg" href="/furniture" role="button">Checkout our products</a></p>
    </div>
</div>
