$navy: #34495e;
.jumbo {
  height: 100vh; //visual height units
  background: image_url("hero.jpg");
  background-size: cover; // scale as the .jumbo grows and shrinks
  background-position: center; // center the bg instead of putting at top-left

  .littlebox {
    float: right;
    margin-top: 45vh;
    margin-right: 25vh;
    padding: 15px;
    border-radius: 5px;

    h2{
        color: white;
        padding-right: 20px;
        padding-bottom: 15px;
        font-family: 'Lora', serif;
        font-weight: bold;
    }

    h3{
      color: white;
      font-family: 'Avenir';
      padding-right: 20px;
    }

    .button{
      color: $navy;
    }

  }

  $font-color: #0D0A11;

}
